.Parent{
    // width: auto;
    // height: auto;

}
.Profile{
    display: flex;
    margin: 10% auto;
 
}
.name-tag{
    color: #ff014f;
    font-family: "Quicksand", Arial, sans-serif;
    font-weight: 600;
}
.header-text{
margin: auto;
text-align: center;
width: 50%;
}
.text-data{
    padding: 20%;
    text-align: left;
}
.profile-image{
    margin: auto;
   width: 50%;
}